youtube-data-api-flow.json
[
   {
      "id":"da558cf9.fb7d5",
      "type":"tab",
      "label":"Flow 1",
      "disabled":false,
      "info":""
   },
   {
      "id":"7d486eb3.e3202",
      "type":"inject",
      "z":"da558cf9.fb7d5",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":100,
      "y":200,
      "wires":[
         [
            "e46fa1a4.32c6f"
         ]
      ]
   },
   {
      "id":"e6772490.e0522",
      "type":"http request",
      "z":"da558cf9.fb7d5",
      "name":"",
      "method":"GET",
      "ret":"txt",
      "url":"https://www.googleapis.com/youtube/v3/channels?part=statistics&id={{{channel}}}&fields=items/statistics&key={{{apikey}}}",
      "tls":"",
      "x":550,
      "y":200,
      "wires":[
         [
            "44a49a8e.878b8c"
         ]
      ]
   },
   {
      "id":"d3c79c56.d465c",
      "type":"debug",
      "z":"da558cf9.fb7d5",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "x":930,
      "y":200,
      "wires":[

      ]
   },
   {
      "id":"e46fa1a4.32c6f",
      "type":"function",
      "z":"da558cf9.fb7d5",
      "name":"Request Setup",
      "func":"//Your API key for the Youtube Data API\nmsg.apikey = \"your API Key goes here\";\n\n//Channel ID's in a comma seperated list\nmsg.channel = \"<channel id>\";\n\nreturn msg;\n\n/*\nLook for more details in the official documents\nhere:\nhttps://developers.google.com/youtube/v3/docs/channels/list#usage\n*/",
      "outputs":1,
      "noerr":0,
      "x":340,
      "y":200,
      "wires":[
         [
            "e6772490.e0522"
         ]
      ]
   },
   {
      "id":"44a49a8e.878b8c",
      "type":"json",
      "z":"da558cf9.fb7d5",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":750,
      "y":200,
      "wires":[
         [
            "d3c79c56.d465c"
         ]
      ]
   },
   {
      "id":"49fcd20c.f11224",
      "type":"inject",
      "z":"da558cf9.fb7d5",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":100,
      "y":320,
      "wires":[
         [
            "cd1794c9.757768"
         ]
      ]
   },
   {
      "id":"cd99bb86.535378",
      "type":"http request",
      "z":"da558cf9.fb7d5",
      "name":"",
      "method":"GET",
      "ret":"txt",
      "url":"https://www.googleapis.com/youtube/v3/channels?part=statistics&id={{{channel}}}&fields=items/statistics/subscriberCount&key={{{apikey}}}",
      "tls":"",
      "x":550,
      "y":320,
      "wires":[
         [
            "9575af46.6007f"
         ]
      ]
   },
   {
      "id":"d9839f73.4f0548",
      "type":"debug",
      "z":"da558cf9.fb7d5",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "x":930,
      "y":320,
      "wires":[

      ]
   },
   {
      "id":"cd1794c9.757768",
      "type":"function",
      "z":"da558cf9.fb7d5",
      "name":"Request Setup",
      "func":"//Your API key for the Youtube Data API\nmsg.apikey = \"your API Key goes here\";\n\n//Channel ID's in a comma seperated list\nmsg.channel = \"channel id(s) here\";\n\nreturn msg;\n\n/*\nLook for more details in the official documents\nhere:\nhttps://developers.google.com/youtube/v3/docs/channels/list#usage\n*/",
      "outputs":1,
      "noerr":0,
      "x":340,
      "y":320,
      "wires":[
         [
            "cd99bb86.535378"
         ]
      ]
   },
   {
      "id":"9575af46.6007f",
      "type":"json",
      "z":"da558cf9.fb7d5",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":750,
      "y":320,
      "wires":[
         [
            "d9839f73.4f0548"
         ]
      ]
   },
   {
      "id":"da090415.172ce8",
      "type":"inject",
      "z":"da558cf9.fb7d5",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":100,
      "y":440,
      "wires":[
         [
            "d4d0f3af.059ab"
         ]
      ]
   },
   {
      "id":"d69cdb04.83af48",
      "type":"http request",
      "z":"da558cf9.fb7d5",
      "name":"",
      "method":"GET",
      "ret":"txt",
      "url":"https://www.googleapis.com/youtube/v3/channels?part=statistics&id={{{channel}}}&fields=items/statistics&key={{{apikey}}}",
      "tls":"",
      "x":550,
      "y":440,
      "wires":[
         [
            "5c2fc436.52119c"
         ]
      ]
   },
   {
      "id":"2afba0e5.6710f8",
      "type":"debug",
      "z":"da558cf9.fb7d5",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "x":930,
      "y":440,
      "wires":[

      ]
   },
   {
      "id":"d4d0f3af.059ab",
      "type":"function",
      "z":"da558cf9.fb7d5",
      "name":"Request Setup",
      "func":"//Your API key for the Youtube Data API\nmsg.apikey = \"your API Key goes here\";\n\n//Channel ID's in a comma seperated list\nmsg.channel = \"<channel id 1>,<channel id 2>\";\n\nreturn msg;\n\n/*\nLook for more details in the official documents\nhere:\nhttps://developers.google.com/youtube/v3/docs/channels/list#usage\n*/",
      "outputs":1,
      "noerr":0,
      "x":340,
      "y":440,
      "wires":[
         [
            "d69cdb04.83af48"
         ]
      ]
   },
   {
      "id":"5c2fc436.52119c",
      "type":"json",
      "z":"da558cf9.fb7d5",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":750,
      "y":440,
      "wires":[
         [
            "2afba0e5.6710f8"
         ]
      ]
   },
   {
      "id":"f76b5599.552c88",
      "type":"comment",
      "z":"da558cf9.fb7d5",
      "name":"Single Channel Statistics",
      "info":"",
      "x":130,
      "y":160,
      "wires":[

      ]
   },
   {
      "id":"3c2824fc.079e04",
      "type":"inject",
      "z":"da558cf9.fb7d5",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":100,
      "y":80,
      "wires":[
         [
            "cc458530.c54af8"
         ]
      ]
   },
   {
      "id":"6f0796fb.c60e3",
      "type":"http request",
      "z":"da558cf9.fb7d5",
      "name":"",
      "method":"GET",
      "ret":"txt",
      "url":"https://www.googleapis.com/youtube/v3/channels?part=statistics&id={{{channel}}}&fields=items/statistics&key={{{apikey}}}",
      "tls":"",
      "x":550,
      "y":80,
      "wires":[
         [
            "e7d16cd0.99c7e"
         ]
      ]
   },
   {
      "id":"b8a4a5ab.76e12",
      "type":"debug",
      "z":"da558cf9.fb7d5",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "x":930,
      "y":80,
      "wires":[

      ]
   },
   {
      "id":"cc458530.c54af8",
      "type":"function",
      "z":"da558cf9.fb7d5",
      "name":"Request Setup",
      "func":"//Your API key for the Youtube Data API\nmsg.apikey = \"your API Key goes here\";\n\n//Channel ID's in a comma seperated list\nmsg.channel = \"<channel id>\";\n\nreturn msg;\n\n/*\nLook for more details in the official documents\nhere:\nhttps://developers.google.com/youtube/v3/docs/channels/list#usage\n*/",
      "outputs":1,
      "noerr":0,
      "x":340,
      "y":80,
      "wires":[
         [
            "6f0796fb.c60e3"
         ]
      ]
   },
   {
      "id":"e7d16cd0.99c7e",
      "type":"json",
      "z":"da558cf9.fb7d5",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":750,
      "y":80,
      "wires":[
         [
            "b8a4a5ab.76e12"
         ]
      ]
   },
   {
      "id":"75c23da7.cb1604",
      "type":"comment",
      "z":"da558cf9.fb7d5",
      "name":"Demo Only",
      "info":"",
      "x":80,
      "y":40,
      "wires":[

      ]
   },
   {
      "id":"c14b7840.2d769",
      "type":"comment",
      "z":"da558cf9.fb7d5",
      "name":"Subscriber Count Only",
      "info":"",
      "x":120,
      "y":280,
      "wires":[

      ]
   },
   {
      "id":"6a782ef9.9ffa5",
      "type":"comment",
      "z":"da558cf9.fb7d5",
      "name":"Subscriber Count Only for 2 Channels",
      "info":"",
      "x":170,
      "y":400,
      "wires":[

      ]
   },
   {
      "id":"359d7ade.131eae",
      "type":"inject",
      "z":"da558cf9.fb7d5",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"43200",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":110,
      "y":560,
      "wires":[
         [
            "cb408679.a67c5"
         ]
      ]
   },
   {
      "id":"58dd6393.7160e4",
      "type":"http request",
      "z":"da558cf9.fb7d5",
      "name":"",
      "method":"GET",
      "ret":"txt",
      "url":"https://www.googleapis.com/youtube/v3/channels?part=statistics&id={{{channel}}}&fields=items/statistics/subscriberCount&key={{{apikey}}}",
      "tls":"",
      "x":550,
      "y":560,
      "wires":[
         [
            "3a3eb3fb.962354"
         ]
      ]
   },
   {
      "id":"f0fe74d4.47f5f",
      "type":"debug",
      "z":"da558cf9.fb7d5",
      "name":"Subscriber Count",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload.items[0].statistics.subscriberCount",
      "x":950,
      "y":560,
      "wires":[

      ]
   },
   {
      "id":"cb408679.a67c5",
      "type":"function",
      "z":"da558cf9.fb7d5",
      "name":"Request Setup",
      "func":"//Your API key for the Youtube Data API\nmsg.apikey = \"your API Key goes here\";\n\n//Channel ID's in a comma seperated list\nmsg.channel = \"<channel id>\";\n\nreturn msg;\n\n/*\nLook for more details in the official documents\nhere:\nhttps://developers.google.com/youtube/v3/docs/channels/list#usage\n*/",
      "outputs":1,
      "noerr":0,
      "x":340,
      "y":560,
      "wires":[
         [
            "58dd6393.7160e4"
         ]
      ]
   },
   {
      "id":"3a3eb3fb.962354",
      "type":"json",
      "z":"da558cf9.fb7d5",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":750,
      "y":560,
      "wires":[
         [
            "f0fe74d4.47f5f",
            "1085513f.e7e25f"
         ]
      ]
   },
   {
      "id":"c090a41b.c16598",
      "type":"comment",
      "z":"da558cf9.fb7d5",
      "name":"Subscriber Count in a Graph",
      "info":"",
      "x":140,
      "y":520,
      "wires":[

      ]
   },
   {
      "id":"6ecef1d4.77da98",
      "type":"ui_chart",
      "z":"da558cf9.fb7d5",
      "name":"",
      "group":"ef3bfa7.4993e08",
      "order":0,
      "width":"5",
      "height":"4",
      "label":"Subscribers",
      "chartType":"line",
      "legend":"false",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"0",
      "ymax":"100",
      "removeOlder":"48",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "x":950,
      "y":620,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"1085513f.e7e25f",
      "type":"function",
      "z":"da558cf9.fb7d5",
      "name":"Parse JSON",
      "func":"msg.payload = msg.payload.items[0].statistics.subscriberCount;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":770,
      "y":620,
      "wires":[
         [
            "6ecef1d4.77da98"
         ]
      ]
   },
   {
      "id":"ef3bfa7.4993e08",
      "type":"ui_group",
      "z":"",
      "name":"Youtube Statistics",
      "tab":"8265cda6.10eb58",
      "disp":true,
      "width":"8",
      "collapse":false
   },
   {
      "id":"8265cda6.10eb58",
      "type":"ui_tab",
      "z":"",
      "name":"Home",
      "icon":"dashboard"
   }
]
